<div class="container">
    <div class="row">
        <div class="col-100">
            <h1 class="button-and-tittle" >
                <span>Actualizar Cliente</span>
                <button routerLink="/clientes" >Volver atras</button>
            </h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="modificarCliente()">
            <div class="row">
                <div class="col-100">
                    <label>Nombre del Cliente</label>
                    <input type="text" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Cif</label>
                    <input type="text" formControlName="cif">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Dirección</label>
                    <input type="text" formControlName="direccion">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Localidad</label>
                    <input type="text" formControlName="localidad">
                </div>
            </div>
            <div class="row"> 
                <div class="col-100 flex j-end">
                    <button [disabled]="form.invalid" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>